{% extends 'base.html.twig' %}

{% block title %} Hello ProductController {% endblock %}

{# Tells that this is the body #}
{% block body %}

<h1> Products </h1>

<a 
    href= "{{ path('product_new')}}"> New Product 
</a>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                        {{product.name}}
                    </a>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
