{% extends 'base.html.twig' %}

{% block body %}

<h1>Product</h1>

<table>
    <tbody>
        <tr>
            <th>Product ID </th>
            <td>{{ product.id }}
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}
        </tr>
        <tr>
            <th>Price </th>
            <td>{{ product.price }}
        </tr>
    <tbody>

    <a href="{{ path('product_edit', {'id': product.id}) }}"> Edit </a>
    <a href="{{ path('product_delete', {'id': product.id}) }}"> Delete </a>

</table>
{% endblock %}